@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Geral*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/*body*/

body {
  font-size: 100%;
}

/*Cabeçalho*/

header {
  background-color: #051e3c;
  height: 2rem;
}

/*Menu*/

nav ul {
  list-style-type: none;
  margin-top: 3rem;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  padding-inline-end: 20px;
  color: #565454;
}

/*Section*/

.conteudo-principal {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
}

/*Page index*/

.img-init {
  height: 430px;
}

.container-init {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.titulo-init {
  font-family: "Montserrat", sans-serif;
  font-weight: 850;
  color: #565454;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.txt-init {
  text-align: left;
}

/*Page Guia*/

.img-guia {
  height: 450px;
}

.txt-guia {
  text-align: justify;
}

/*Page Dicas*/

.img-dica {
  height: 350px;
}

.txt-dica {
  text-align: justify;
}

/*botão e rodapé*/

.botao-exp {
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #27a744;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

footer {
  padding: 32px;
}

/*Page Financeiro*/

.container-financeiro {
  height: 100vh;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.container-dados {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-bottom: 30px;
}

.container-dados input {
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #e3e3e3;
}

.dados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dados-itens {
  text-align: center;
  margin: 10px;
}

.titulo-dados-red,
.titulo-dados-yellow,
.titulo-dados-gray,
.titulo-dados-green,
.titulo-dados-orange,
.titulo-dados-blue {
  margin: 0;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.titulo-dados-red {
  background-color: #dc0e20;
}

.titulo-dados-yellow {
  background-color: #f18e11;
}

.titulo-dados-gray {
  background-color: #6b757d;
}

.titulo-dados-green {
  background-color: #27a744;
}

.titulo-dados-orange {
  background-color: #f36d0d;
}

.titulo-dados-blue {
  background-color: #0b1b25;
}

.info-valor {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 30px;
  margin: 0;
  background-color: rgb(247, 243, 243);
  color: #565454;
}

.titulo-info-tr {
  margin-bottom: 30px;
  color: #565454;
}

table {
  width: 100%;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: #565454;
}

.add-btn {
  width: 280px;
  padding: 6px;
  border: none;
  background-color: #27a744;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.7em;
  width: 100px;
  cursor: pointer;
}
